@charset 'UTF-8';

@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(194, 250, 194);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

header {
    background-image: linear-gradient(to bottom, rgb(84, 194, 126), rgb(96, 160, 141));
    text-align: center;
    color: white;
    
}

header > h1 {
    font-family: "Bebas Neue", sans-serif;
}

.assuntos > h2 {
    background-image: linear-gradient(to left, white, rgb(184, 252, 184));
}

h1#principal {
    font-family: 'Idroid';
    color: darkgreen;
}

h2 {
    font-family: 'Idroid';
    color: darkgreen;
}

nav {
    text-align: left;
}

nav > a {
    color: white;
    text-decoration: none;
}

nav > a:hover {
    background-image: linear-gradient(to top, green, darkgreen);
    border-radius: 10px;
    text-decoration: solid;
}

main {
    background: white;
    border-radius: 0px 0px 20px 20px;
}

.paragrafo {
    text-indent: 30px;
}
#video {
    background-color: rgb(5, 114, 23);
}

footer {
    background-color: rgb(5, 71, 3);
    color: white;
    text-align: center;
}

article {
    background-color: rgb(113, 243, 113);
    border-radius: 20px;
}
#aprender {
    background-color: green;
    color: white;
    border-radius: 20px;
    
}

a{
    color: green;
    text-decoration: none;

}

